#backgorund-color{
    background: black;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* common style */
.display-style{
    display: flex;
}
.praimary-color{
    color: rgba(230, 83, 60, 1);
}
.primary-color-2{
     color: rgb(252, 241, 241);
}
.praimary-btn{
    text-decoration: white;
    background-color: rgba(230, 83, 60, 1);
    align-items: center;
}
.praimary-btn-2{
     padding: 20px;
}
/* navbar */
.navbar{
    justify-content: space-between;
    margin: 0 auto;
    max-width: 80%;
    align-items: center;
}
#fitness-style{
    font-style: italic;
    font-weight: 800;
    font-size: large;
    
}
.nav-link{
    text-decoration: none;
    font-weight: 400;
}
.nav-links{
    list-style: none;
    gap: 45px;
    padding: 6px;
    border: 1px solid rgba(250, 247, 247, 0.1);
    border-radius: 40px;

}
#home-btn{
    padding: 5px 17px;
    border-radius: 40px;
    font-weight: 400;
}
/* bannar */
    .banner-container{
        margin: 90px auto;
        max-width: 80%;
        justify-content: space-between;
    }

   .banner-text{
        color: white;
        font-size: 4.6rem;
        font-weight: 800;

        
   }
   .shape-style{
      color: white;
      font-family: Miama;
      font-weight: 400px;
      font-size: 4.6rem;

   }
   .banner-info{
     color: white;
   }
   #banner-btn-1{
        padding: 14px 17px;
        border-radius: 40px;
        color: white;
        border-color:  rgba(230, 83, 60, 1);
        gap: 14px;
   }
   #banner-btn-2{
        color: white;
        padding: 14px 17px;
        border-radius: 40px;
        background-color: rgb(12, 12, 12);
        border-color: 2px solid white;
   }
/* fotter */
/* media query */